/build/
/.cmake/
/CMakeFiles/
/docs/

/CMakeCache.txt
*.user
*.suo
*.cache

*.vcxproj*
*.code-workspace
*.idea
Doxyfile.bak
.clang-format.bak

# Keep fargo configuration but ignore user-specific settings
/.fargo/user/
